/* Sidebar.css */

/* .sidebar-container {
  height: 100%;
  width: 100%;
  padding: 2rem 1rem;
  font-family: Arial, sans-serif;
  color: white;
}

.sidebar-topic {
  font-weight: bold;
  margin: 1rem 0;
}

.sidebar-questions-list {
  list-style-type: none;
  padding-left: 20px;
  margin: 0;
}

.sidebar-question-item {
  margin: 10px 0;
  padding-left: 10px;
}

.sidebar-topic .active {
  color: #ff8c00;
  font-weight: bold;
} */

/*------------------scratch css---------------------------- */

/* Sidebar.css */

#sidebar-container {
  padding: 20px;
  color: white;
}

.side-item {
  cursor: pointer;
}

.sidebar-topic {
  font-weight: bold;
  margin: 10px 0;
  padding: 10px 5px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

.sidebar-topic.active {
  color: var(--bg-color);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 10px 5px;
  border-radius: 5px;
}

.sidebar-questions-list {
  list-style-type: none;
  padding-left: 20px;
  margin: 0;
}

.sidebar-question-item {
  margin: 5px 0;
  padding-left: 10px;
}
